{% extends "base.html" %}
{% block nav %}
{% endblock %}

{% block body %}
<section class="centered">
  <form class="form-inline" role="search" action="">
    <h1 class="text-center">infobalize.</h1>
    <div class="form-group">
      <div class="input-group">
        <input id="search-box" type="text" class="form-control" placeholder="fintech regulations" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </div>
  </form>
</section>
{% endblock %}
